.scroll{
    left: 90%;
    top: 0;
    position: sticky;
   

}

.scroll:hover{
    color: red;
}




@media screen and (max-width: 1024px) {
.scroll{
    width: 20%;
    height: 10%;
    left: 70%;
    bottom: 0;
   position: sticky; 
}
    
}
